<!-- form -->
{{ form_start(form) }}
 {{ form_widget(form.q, {'attr': {'class': 'form-control'}}) }}<br>
    <button class="btn" style="border-radius: 5px;">{{ button_label|default('rechercher') }}</button>
</form>	
{{ form_end(form) }}