{% extends 'Layouts/base2.html.twig' %}




{% block body %}
<title>New Job</title>
<div class="cat"><h2 class="text-center">Ajouter une nouvelle offre</h2></div>
<div class="job-form" style="font-size: small;">
    

    {{ include('job/_form.html.twig') }}
    <br>
    <a href="{{ path('app_job_index') }}" style="text-decoration": underline;>back to list</a>
</div>  

{% endblock %}

