{# templates/admin/dashboard.html.twig #}

{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block body_content %}
    <div>
        <img src="{{ asset('/assets/img/logo/logo2_footer.png') }}" alt="Logo">
    </div>
    {{ parent() }}
{% endblock %}
