{% extends 'Layouts/base2.html.twig' %}



{% block body %}
<title>Hello EmployeurController!</title>
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="{{ asset('assets/img/hero/h1_hero.jpg') }}">
                    <div class="container">
                        <div class="row ">
                            <div class="col-xl-8">
                                <h1 style="color: #0b1c39;">Bienvenue dans l'Espace Employeur</h1><br><br><br><br>
                                <div class="example-wrapper">
   
                                    <a href="{{path('app_job_new')}}" class="btn head-btn1" style="border-radius: 5px;">Publier une Offre</a>
                                    <br><br><br><br>
                                </div>
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
{% endblock %}
