{% extends 'Layouts/base2.html.twig' %}



{% block body %}
<title>Hello EmployeurController!</title>
 <h1>Bienvenue</h1><br><br><br><br>
<div class="example-wrapper">
   
    <a href="{{path('app_job_new')}}" class="btn head-btn1">Publier une Offre</a>
    <br><br><br><br>
</div>
{% endblock %}
