{% extends 'Layouts/base.html.twig' %}


{% block navbar %}{% endblock %}
{% block body %}
<title>Edition du Mot de passe</title>
<div class="login-form">
    <h2 class="mt-4">Modifier votre Mot de passe</h2>
    {{ form(form) }}
   
</div>
{% endblock %}
{% block footer %}{% endblock %}